id;city;domain;url;hasEsic
1;São Paulo;www.capital.sp.gov.br;esic.prefeitura.sp.gov.br/Account/Login.aspx;true
2;Curitiba;www.curitiba.pr.gov.br;autenticacao-ecidadao.curitiba.pr.gov.br;true
3;Sorocaba;www.sorocaba.sp.gov.br;transparencia.sorocaba.sp.gov.br/esic/wp_login.aspx?3552205,1;true
